@import './STYLE/common.scss';

.app-component {
  &__nav-bar{
    padding-bottom: 16px;
    border-bottom: 1px solid $silver;
    &__brand-logo {
      color: $nephritis;;
      font-weight: bold;
      font: 30px;
      border: 1px solid $nephritis;;
      margin-right: 20px;
    }
  }

  &__banner {
    width: 100%;
    height: 200px;
    background: $nephritis;;
    margin-top: 15px;
    text-align: center;
  }

  &__banner--title, &__banner--description  {
    color: $white;
    font-size: 40px;
  }


}