@import './STYLE/common.scss';

.app-component {
  &__nav-bar{
    padding-bottom: 16px;
    border-bottom: 1px solid silver;
    &__brand-logo {
      color: $brand-color;
      font-weight: bold;
      font: 30px;
      border: 1px solid #2ecc71;
      margin-right: 20px;
    }
  }

  &__banner {
    width: 100%;
    height: 200px;
    background: #2ecc71;
    margin-top: 15px;
    text-align: center;
  }

  &__banner--title, &__banner--description  {
    color: white;
    font-size: 40px;
  }


}