<div class="app-component">
  <nav class="app-component__nav-bar">
    <a class="app-component__nav-bar__brand-logo">Conduit</a>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/authen" routerLinkActive="active">Sign In</a>
    <a routerLink="/register" routerLinkActive="active">Sign Up</a>
  </nav>

  <div class="app-component__banner">
    <div class="app-component__banner--title">
      Conduit
    </div>
    <div class="app-component__banner--description">
      Description
    </div>
  </div>

  <div class="app-component-body">
    <router-outlet></router-outlet>
  </div>
</div>

